<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>webp to image convertor</title>
</head>

<body>
  <center>
    <h1> Image Convertor</h1>
    <br><br>
    <form action="/uploads" method="post" enctype="multipart/form-data">
      <h1>webp to jpg convertor</h1>
      <input type="file" name="image" />
      <input type="submit" value="convert to image">
    </form>
    <br>
    <hr>
    <br>
    <form action="/uploadswebp" method="post" enctype="multipart/form-data">
      <h1> jpg to webp convertor</h1>
      <input type="file" name="image" />
      <input type="submit" value="convert to image">
    </form>
  </center>
</body>

</html>